/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


/public/js
/public/version.txt
/vendor
.env*
mix-manifest.json
.env2
.env_extra_vars
.env._nsia
.env._cofina
.env.*
NOTES_*
ELIE_*
TESTS_*
TODO_*
.env.backup
.env._*
.amane
.env._*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/js/app.js
/public/appsupport
/public/appsupport/js/app.js
/public/js/*_js_*.js
/public/js/*_vue.js
/public/css/app.css
/public/appsupport/css/app.css
/public/upload
/public/BANK
.editorconfig
.env.banque.example
.env.microfinance.example
CostumedFiche_.vue
/resources/js/services/nsia_local_json_db/*
/resources/js/services/nsia/nsia_local_json_db/*
/resources/js/services/nsia/nsia_local_json_db/customers/latest
/resources/js/services/nsia/nsia_local_json_db/customers/live
/resources/js/services/nsia/nsia_local_json_db/customers/v1
/resources/js/services/nsia/nsia_local_json_db/customers/v2
/resources/js/services/nsia/nsia_local_json_db/customers/v3
/resources/js/services/nsia/nsia_local_json_db/customers/v4
/resources/js/services/nsia/nsia_local_json_db/services
/resources/js/services/nsia/nsia_local_json_db/*
/resources/js/components/manage/ChargeAffaire.vue
/public/mix-manifest.json
/resources/js/services/nsia/nsia_local_json_db/customers/customers_collection.js
/resources/js/services/nsia_local_json_db/customers/customers_collection.js
/public/fonts/vendor/@fontsource
.windsurfrules
/public/appsupport
/public/BANK
env.creditflow.txt
/public/BANK


public/BANK/afg
*checklist-*.mongodb.js
